extends layout_detail
block content
  img.detail.lazy(data-original="images/about/about1.jpg")
  img.detail.lazy(data-original="images/about/about2.jpg")
  img.detail.lazy(data-original="images/about/about3.jpg")
  img.detail.lazy(data-original="images/about/about4.jpg")
