extends layout_detail
block content
  img.detail.animated.fadeIn(src="images/about/about1.jpg")
  img.detail.animated.fadeIn(src="images/about/about2.jpg")
  img.detail.animated.fadeIn(src="images/about/about3.jpg")
  img.detail.animated.fadeIn(src="images/about/about4.jpg")
