extends layout
block content
  #hero.heroParent.animated.fadeIn
    a(href="/" class="errorImage")
      img.logo.animated.fadeIn(src="images/logo.svg")
      img.logo.animated.fadeIn(src="images/logo_jp.svg")
    br
    p.errorMessage ページが見つかりませんでした。
  #mobileHead
    p.btn_hamburger
      a(href='#')
        span
        span
        span
    #menu.menu
      ul.main-nav
        li
          a(href="/katana") 刀 katana
        span.separator  |
        li
          a(href="/kitchen_knife") 侍 samurai knife
        span.separator  |
        li
          a(href="/workshop") 伝 workshop
        span.separator  |
        li
          a(href="/about") 匠 about
        span.separator  |
        li
          a(href="#contact", class="contact") 問 contact
