extends layout
block content
  #trigger1.spacer.s0
  #hero.heroParent
    img.logo.animated.fadeIn(src="images/logo.svg")
  #menu.menu
    ul.main-nav

      li
        a(href="/katana") 刀 katana
      span.separator  |
      li
        a(href="/samurai_knife") 侍 samurai knife
      span.separator  |
      li
        a(href="/workshop") 伝 workshop
      span.separator  |
      li
        a(href="/about") 匠 about
      span.separator  |
      li
        a(href="#contact") 問 contact
  .spacer.s0
  #katana.parallaxParent
    div.parallaxBack(style='background-image: url(images/box2.jpg);background-size: cover;background-position: center;')
      h2.parallaxMenu.katanaMenu 刀 　katana
  .spacer.s2
    .desc
      h2 刀匠房太郎
      p ２００４年岐阜県関市にて創業、２００６年岐阜県羽島市に鍛錬場を移転。２０１２年フランスでの日本刀公開鍛錬を皮切りに国内外から招聘され、世界各地の鍛冶職人・学芸員・研究家と国際交流を実施。世界最古の技法と最高峰の鍛冶技術をもち日本の刀鍛冶が必要とされており、刀匠本人の知識力と探検心で鋼の研究等に協力しています。
      a.more(href="/katana") 続きを見る
  #samurai.parallaxParent
    div.parallaxBack(style='background-image: url(images/box3.JPG);background-size: cover;background-position: center;')
      h2.parallaxMenu 侍  samurai knife
  .spacer.s2
    .desc
      h2 伝統技術を身近なキッチンで
      p 侍ナイフは日本刀の伝統的な技法を応用し、手に馴染むよう丁寧に１本１本を手作業で松炭を用いて鍛造・焼き入れ、浅野鍛冶屋オリジナルの柄をつけ仕上げています。世界最高峰のナイフビルダー：ボブ・クレイマー氏と共同開発し、２０１７年春、包丁作りに特化した鍛冶場増設しました。
      a.more(href="/samurai_knife") 続きを見る
  #workshop.parallaxParent
    div.parallaxBack(style='background-image: url(images/box4.JPG);background-size: cover;background-position: center;')
      h2.parallaxMenu 伝  workshop
  .spacer.s2
    .desc
      h2 刀匠から学ぶ、伝統の技
      p 鎚（つち）で打ち延ばす、金やすりで整える、刃付け、焼き入れ、研ぎなどの作業に挑戦できます。ナイフの鍛造には、たくさんの工程と時間が必要ですが、たった１日（約７時間）で完成します。昼食は刀匠と一緒にテーブルを囲み、楽しみながら学べる侍ナイフ作り体験です。
      a.more(href="/workshop") 続きを見る
  #about.parallaxParent
    div.parallaxBack(style='background-image: url(images/box5.jpg);background-size: cover;background-position: center;')
      h2.parallaxMenu 匠  about
  .spacer.s2
    .desc
      h2 浅野鍛冶屋
      p 〒５０１-６２３６ 岐阜県羽島市吉良町 ４５４-１ 電話：０５８-３７４-３８１８
      p 「和鍛冶技法に特化した商品の開発」「世界最高峰の鍛冶技法の技術協力」「後継者育成活動」「国際社会へ日本刀文化の普及活動」「地域社会への貢献」
      a.more(href="/about") 続きを見る
  #contact.parallaxParent
    div.parallaxBack(style='background-image: url(images/box6.jpg);background-size: cover;background-position: center;')
      h2.parallaxMenu 問  contact
  .spacer.s3
    .contactForm
      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdFpNarA3JND2KAZp6szyHkdatYhvByjzwqME4FFcgFaLWgig/viewform?embedded=true', frameborder='0', marginheight='0', marginwidth='0') &#x8AAD;&#x307F;&#x8FBC;&#x3093;&#x3067;&#x3044;&#x307E;&#x3059;...
