extends layout_detail.lazy
block content
  img.detail.lazy(src="images/katana/katana1.jpg")
  img.detail.lazy(src="images/katana/katana2.jpg")
  img.detail.lazy(src="images/katana/katana3.jpg")
  img.detail.lazy(src="images/katana/katana4.jpg")
  img.detail.lazy(src="images/katana/katana5.jpg")
  img.detail.lazy(src="images/katana/katana6.jpg")
  img.detail.lazy(src="images/katana/katana7.jpg")
  img.detail.lazy(src="images/katana/katana8.jpg")
