extends layout_detail
block content
  img.detail.lazy(data-original="/images/kitchen_knife/samurai1.JPG")
  img.detail.lazy(data-original="/images/kitchen_knife/samurai2.JPG")
  img.detail.lazy(data-original="/images/kitchen_knife/samurai3.jpg")
