extends layout_detail
block content
  img.detail.animated.fadeIn(src="images/samurai_knife/samurai1.JPG")
  img.detail.animated.fadeIn(src="images/samurai_knife/samurai2.JPG")
  img.detail.animated.fadeIn(src="images/samurai_knife/samurai3.jpg")
