extends layout_detail.lazy
block content
  img.detail.lazy(src="images/samurai_knife/samurai1.JPG")
  img.detail.lazy(src="images/samurai_knife/samurai2.JPG")
  img.detail.lazy(src="images/samurai_knife/samurai3.jpg")
