extends layout_detail
block content
  img.detail.lazy(src="images/workshop/workshop1.JPG")
  img.detail.lazy(src="images/workshop/workshop2.png")
  img.detail.lazy(src="images/workshop/workshop3.JPG")
