extends layout_detail
block content
  img.detail.animated.fadeIn(src="images/workshop/workshop1.JPG")
  img.detail.animated.fadeIn(src="images/workshop/workshop2.png")
  img.detail.animated.fadeIn(src="images/workshop/workshop3.JPG")
