extends layout_detail_en
block content
  img.detail.lazy(data-original="/images/katana/katana1.jpg")
  img.detail.lazy(data-original="/images/katana/katana2.jpg")
  img.detail.lazy(data-original="/images/katana/katana3.jpg")
  img.detail.lazy(data-original="/images/katana/katana4.jpg")
  img.detail.lazy(data-original="/images/katana/katana5.jpg")
  img.detail.lazy(data-original="/images/katana/katana6.jpg")
  img.detail.lazy(data-original="/images/katana/katana7.jpg")
  img.detail.lazy(data-original="/images/katana/katana8.jpg")
