extends layout_detail_en
block content
  img.detail.lazy(data-original="/images/workshop/workshop1.JPG")
  img.detail.lazy(data-original="/images/workshop/workshop2.png")
  img.detail.lazy(data-original="/images/workshop/workshop3.JPG")
